

h1 {
    
  font-family: "Flavors", cursive;
  font-weight: 400;
  font-style: normal;
text-align: center;
}


h3 {

  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
text-align: center;
}
