

h1 {
    
  font-family: "Flavors", cursive;
  font-weight: 400;
  font-style: normal;
}


h3 {

  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}

h1 {
 color:darkslategray
}

h3 {
  color:darkslategray
}